@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Teko";
  font-weight: 700;
  src: url("./fonts/Teko/Teko-Bold.ttf");
}

@font-face {
  font-family: "Teko";
  font-weight: 300;
  src: url("./fonts/Teko/Teko-Light.ttf");
}

@font-face {
  font-family: "Teko";
  font-weight: 500;
  src: url("./fonts/Teko/Teko-Medium.ttf");
}


@font-face {
    font-family: "Teko";
    font-weight: 400;
    src: url("./fonts/Teko/Teko-Regular.ttf");
}


@font-face {
  font-family: "Teko";
  font-weight: 600;
  src: url("./fonts/Teko/Teko-SemiBold.ttf");
}

.list-move, /* apply transition to moving elements */
.list-enter-active,
.list-leave-active {
  transition: all 0.5s ease;
}

.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

/* ensure leaving items are taken out of layout flow so that moving
   animations can be calculated correctly. */
.list-leave-active {
  position: absolute;
}